h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}


body {
    padding-left: 35px;
}

.navbar{
    background:#F97300;
   }
   .nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
   }
   .nav-link{
    margin-right: 1em !important;
   }
   .nav-link:hover{
    background: #f4f4f4;
    color: #f97300;
   }
   .navbar-collapse{
    justify-content: flex-end;
   }
   .navbar-toggler{
     background:#fff !important;
   }

   .description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
